body {
  font-family: 'Oxygen', sans-serif;
  a{
    text-decoration: none;
  }

  header{
    background-color:#61ce4e;
    padding: 10px;
    color: #ffffff;
  }
  main{
    padding: 20px 10px;
  }
  table{
    td{
      border: 1px solid black;
      padding: 7px;
      text-align: center;
    }

  }

}
